<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>videorn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Gruppo-Regular.ttf</string>
		<string>Archivo-Italic-VariableFont_wdth,wght.ttf</string>
		<string>Archivo-VariableFont_wdth,wght.ttf</string>
		<string>Archivo-Black.ttf</string>
		<string>Archivo-BlackItalic.ttf</string>
		<string>Archivo-Bold.ttf</string>
		<string>Archivo-BoldItalic.ttf</string>
		<string>Archivo-ExtraBold.ttf</string>
		<string>Archivo-ExtraBoldItalic.ttf</string>
		<string>Archivo-ExtraLight.ttf</string>
		<string>Archivo-ExtraLightItalic.ttf</string>
		<string>Archivo-Italic.ttf</string>
		<string>Archivo-Light.ttf</string>
		<string>Archivo-LightItalic.ttf</string>
		<string>Archivo-Medium.ttf</string>
		<string>Archivo-MediumItalic.ttf</string>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>Archivo-SemiBoldItalic.ttf</string>
		<string>Archivo-Thin.ttf</string>
		<string>Archivo-ThinItalic.ttf</string>
		<string>Archivo_Condensed-Black.ttf</string>
		<string>Archivo_Condensed-BlackItalic.ttf</string>
		<string>Archivo_Condensed-Bold.ttf</string>
		<string>Archivo_Condensed-BoldItalic.ttf</string>
		<string>Archivo_Condensed-ExtraBold.ttf</string>
		<string>Archivo_Condensed-ExtraBoldItalic.ttf</string>
		<string>Archivo_Condensed-ExtraLight.ttf</string>
		<string>Archivo_Condensed-ExtraLightItalic.ttf</string>
		<string>Archivo_Condensed-Italic.ttf</string>
		<string>Archivo_Condensed-Light.ttf</string>
		<string>Archivo_Condensed-LightItalic.ttf</string>
		<string>Archivo_Condensed-Medium.ttf</string>
		<string>Archivo_Condensed-MediumItalic.ttf</string>
		<string>Archivo_Condensed-Regular.ttf</string>
		<string>Archivo_Condensed-SemiBold.ttf</string>
		<string>Archivo_Condensed-SemiBoldItalic.ttf</string>
		<string>Archivo_Condensed-Thin.ttf</string>
		<string>Archivo_Condensed-ThinItalic.ttf</string>
		<string>Archivo_Expanded-Black.ttf</string>
		<string>Archivo_Expanded-BlackItalic.ttf</string>
		<string>Archivo_Expanded-Bold.ttf</string>
		<string>Archivo_Expanded-BoldItalic.ttf</string>
		<string>Archivo_Expanded-ExtraBold.ttf</string>
		<string>Archivo_Expanded-ExtraBoldItalic.ttf</string>
		<string>Archivo_Expanded-ExtraLight.ttf</string>
		<string>Archivo_Expanded-ExtraLightItalic.ttf</string>
		<string>Archivo_Expanded-Italic.ttf</string>
		<string>Archivo_Expanded-Light.ttf</string>
		<string>Archivo_Expanded-LightItalic.ttf</string>
		<string>Archivo_Expanded-Medium.ttf</string>
		<string>Archivo_Expanded-MediumItalic.ttf</string>
		<string>Archivo_Expanded-Regular.ttf</string>
		<string>Archivo_Expanded-SemiBold.ttf</string>
		<string>Archivo_Expanded-SemiBoldItalic.ttf</string>
		<string>Archivo_Expanded-Thin.ttf</string>
		<string>Archivo_Expanded-ThinItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Black.ttf</string>
		<string>Archivo_ExtraCondensed-BlackItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Bold.ttf</string>
		<string>Archivo_ExtraCondensed-BoldItalic.ttf</string>
		<string>Archivo_ExtraCondensed-ExtraBold.ttf</string>
		<string>Archivo_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>Archivo_ExtraCondensed-ExtraLight.ttf</string>
		<string>Archivo_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Italic.ttf</string>
		<string>Archivo_ExtraCondensed-Light.ttf</string>
		<string>Archivo_ExtraCondensed-LightItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Medium.ttf</string>
		<string>Archivo_ExtraCondensed-MediumItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Regular.ttf</string>
		<string>Archivo_ExtraCondensed-SemiBold.ttf</string>
		<string>Archivo_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>Archivo_ExtraCondensed-Thin.ttf</string>
		<string>Archivo_ExtraCondensed-ThinItalic.ttf</string>
		<string>Archivo_SemiCondensed-Black.ttf</string>
		<string>Archivo_SemiCondensed-BlackItalic.ttf</string>
		<string>Archivo_SemiCondensed-Bold.ttf</string>
		<string>Archivo_SemiCondensed-BoldItalic.ttf</string>
		<string>Archivo_SemiCondensed-ExtraBold.ttf</string>
		<string>Archivo_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Archivo_SemiCondensed-ExtraLight.ttf</string>
		<string>Archivo_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>Archivo_SemiCondensed-Italic.ttf</string>
		<string>Archivo_SemiCondensed-Light.ttf</string>
		<string>Archivo_SemiCondensed-LightItalic.ttf</string>
		<string>Archivo_SemiCondensed-Medium.ttf</string>
		<string>Archivo_SemiCondensed-MediumItalic.ttf</string>
		<string>Archivo_SemiCondensed-Regular.ttf</string>
		<string>Archivo_SemiCondensed-SemiBold.ttf</string>
		<string>Archivo_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Archivo_SemiCondensed-Thin.ttf</string>
		<string>Archivo_SemiCondensed-ThinItalic.ttf</string>
		<string>Archivo_SemiExpanded-Black.ttf</string>
		<string>Archivo_SemiExpanded-BlackItalic.ttf</string>
		<string>Archivo_SemiExpanded-Bold.ttf</string>
		<string>Archivo_SemiExpanded-BoldItalic.ttf</string>
		<string>Archivo_SemiExpanded-ExtraBold.ttf</string>
		<string>Archivo_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>Archivo_SemiExpanded-ExtraLight.ttf</string>
		<string>Archivo_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>Archivo_SemiExpanded-Italic.ttf</string>
		<string>Archivo_SemiExpanded-Light.ttf</string>
		<string>Archivo_SemiExpanded-LightItalic.ttf</string>
		<string>Archivo_SemiExpanded-Medium.ttf</string>
		<string>Archivo_SemiExpanded-MediumItalic.ttf</string>
		<string>Archivo_SemiExpanded-Regular.ttf</string>
		<string>Archivo_SemiExpanded-SemiBold.ttf</string>
		<string>Archivo_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>Archivo_SemiExpanded-Thin.ttf</string>
		<string>Archivo_SemiExpanded-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
