.container {
    flex: 1;
    justify-content: flex-end;
    background-color: #FFF1ED;}

.TextInput {
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: black;
}

.inputView {
    border-color: grey;
    color: black;
    border-radius: 20px;
    border-width: 2px;
    margin-bottom: 35px;
    margin-inline-start: 20px;
    margin-inline-end: 10px;}

.title {
    color: #374B73;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 100px;
    padding-top: 150px;
    align-items: center;
    padding-left: 110px;}

.button {
    background-color: #f586d4;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    margin-inline-start: 20px;
    margin-inline-end: 10px;
    height: 55px;}

.smallText {
    color: black;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;}

.textFailed {
    align-self: center;
    color: red;
    bottom: 33px;
    right: 70px;}
