container {
    flex-direction: 'column';
    background-color: 'white';
    padding-left: 30;
    padding-right: 50;
    padding-top: 30;
    padding-bottom: 0;}

TextInput {
    height: 50;
    flex: 1;
    padding: 10;
    justify-content: 'center';}

title {
    color: 'black';
    font-family: 'Roboto';
    font-size: 50;
    font-weight: 'bold';
    letter-spacing: 1;
    margin-bottom: 50;
    margin-top: 100;}

smallText {
    color: 'black';
    font-family: 'Roboto';
    font-size: 20;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20;
    justify-content: 'center';}

smallerText {
    color: 'black';
    font-family: 'Roboto';
    font-size: 15;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20;
    justify-content: 'center';}

inputView {
    border-color: 'grey';
    border-width: 2;
    border-radius: 3;
    width: '90%';
    margin-bottom: 35;
    align-content: 'center';
    justify-content: 'center';}

altTitle {
    font-family: 'Roboto';
    font-size: 20;
    font-weight: 'bold';
    border-width: 10;
    flex: 1;}

