container {
    flex-direction: 'column';
    background-color: 'white';
    padding-left: 20;
    background-color:'#FFF1ED';}

TextInput {
    height: 50;
    flex: 1;
    padding: 10;
    justify-content: 'center';}

title {
    color: 'black';
    font-family: 'Roboto';
    font-size: 50;
    font-weight: 'bold';
    letter-spacing: 1;
    margin-bottom: 50;
    margin-top: 100;}

smallText {
    color: 'black';
    font-size: 20;
    margin-top: 100;
    margin-bottom: 20;
    justify-content: 'center';}
  
inputView {
    border-color: 'grey';
    border-width: 2;
    border-radius: 20;
    width: '92%';
    margin-top:18;
    align-content: 'center';
    justify-content: 'center';}

textFailed {
    color: 'red';
    align-self:'flex-end';
    right: 30;}

buttonDisable {
        margin: 10;
        padding:10;
        border-radius: 25;
        align-items: 'center';
        background-color:'grey';
        width:180;}

altTitle {
    font-family: 'Roboto';
    font-size: 20;
    font-weight: 'bold';
    border-width: 10;
    flex: 1;}

